.conteneur .login {
  background: #fff;
  padding: 30px;
  height: 480px;
  bottom: 75px;
}
.obligatoire {
  color: red;
  font-size: 25px;
  position: relative;
  top: 5px;
  left: 10px;
}
.conteneur .login h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}
footer {
  margin-top: 0px;
}

.div-general-info {
  margin-top: 0px;
}
